.header-admin {
    align-items: center;
    padding: 10px;
    background: rgb(213, 245, 252);
    color: black;
    font-size: 30px;
}

.header-admin h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 45px;
}

.header-admin .head-bar {
    height: 50px;
    width: 60%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    background-color: #fff;
    color: black;
    box-shadow: 2px 3px 2px 0 rgba(9, 9, 9, 0.23);
    border-radius: 25px;
    margin: 1em auto 10px;
}

.header-admin .head-bar button {
    cursor: pointer;
    background-color: #ff4363;
    border-radius: 15px;
    border: none;
    width: 20%;
    height: 100%;
    font-size: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.header-admin .head-bar button:hover {
    background-color: #ffca57;
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
}

.each-section {
    margin: 0 auto 50px;
    width: 90%;
    text-align: center;
    font-size: 20px;
    table-layout: fixed;
}

.admin-addBtn-div {
    margin: 0 auto -20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.admin-content h2 {
    font-size: 40px;
}

.admin-addBtn {
    cursor: pointer;
    background-color: #ff4363;
    border-radius: 15px;
    border: none;
    height: 100%;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
}

.admin-addBtn:hover {
    background-color: #ffca57;
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
}

.admin-content table {
    width: 100%;
}

.admin-content thead {
    background-color: #ff4363;
    color: white;
    font-weight: bold;
}

.admin-content tbody tr {
    background-color: #fbe2e2;
}

.admin-content th,
td {
    padding: 10px;
}

.admin-content .img-admin {
    color: black;
    text-decoration: underline;
}

.admin-content .img-admin:hover {
    color: #ff4363;
    cursor: pointer;
}

.admin-content .button {
    cursor: pointer;
    border-radius: 15px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.admin-content .button.deleteBtn {
    background-color: #ff4363;
}

.admin-content .button.updateBtn {
    background-color: #ffca57;
}

.admin-content .button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.3);
}

.admin-content .button.deleteBtn:hover {
    background-color: #ffca57;
}
.admin-content .button.updateBtn:hover {
    background-color: #ff4363;
}

.add-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 0 30px 30px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(152, 147, 187, 0.6);
}

.add-modal h2 {
    font-size: 40px;
    text-align: center;
}

.add-modal form {
    align-items: center;
}

.add-modal label {
    width: 30%;
    font-size: 25px;
    font-weight: bold;
}

.add-modal input{
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 20px;
    width: 100%;
}

.add-modal textarea{
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 20px;
    width: 100%;
}

.add-modal button {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #ff4363;
    border-radius: 15px;
    border: none;
    width: 30%;
    height: 100%;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.add-modal button:hover {
    background-color: #ffca57;
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
}

.agenda-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 400px;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 0 30px 30px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(152, 147, 187, 0.6);
}

.text-agenda {
    margin-top: -15px;
    width: 100%;
    max-height: 280px;
    overflow: auto;
}

.agenda-modal h1 {
    text-align: center;
}

.agenda-modal p {
    font-size: 20px;
    margin: 10px 0;
}

.agenda-modal button {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #ff4363;
    border-radius: 15px;
    border: none;
    width: 30%;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.agenda-modal button:hover {
    background-color: #ffca57;
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
}

.no-display {
    display: none;
}
