.admin-events {
    background-color: #fff;
    margin-bottom: 50px;
    padding: 60px;
    border-radius: 50px;
    box-shadow: 1px 1px 19px 1px rgba(0,0,0,0.2);
}

.admin-events .title {
    margin: 0 0 0 0;
    font-family: "Manrope-Bold";
    font-size: 50px;
    line-height: 60px;
    color: #1F2F54;
    text-align: center;
}

.admin-events .title-part {
    margin: 10px 0 0 0;
    font-family: "Manrope-Bold";
    font-size: 35px;
    line-height: 60px;
    color: #1F2F54;
}

.admin-events .show-events table{
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    line-height: 40px;
    table-layout: fixed;
}

.admin-events .show-events table .description{
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}
.admin-events .show-events table .name,
.admin-events .show-events table .date
{
    width: 10%;
}

.admin-events .show-events table button{
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 15px;
    background-color: #ffba07; 

    color: #fff;
    font-family: "Manrope-SemiBold";
    font-size: 20px;
}

.admin-events .show-events table button.red{
    background-color: #ff4363; 
}

/* form css */

.container form *{
    outline: none;
  }
  .container form .form-row{
    display: flex;
    margin: 32px 0;
  }
  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  form .form-row .textarea{
    height: 70px;
  }
  form .form-row .textarea.big{
    height: 200px;
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data .date{
   width: 300px; 
  }
  .input-data .date~.underline{
    width: 300px; 
   }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label,
  .input-data input.date ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
  }
  .textarea.big label{
    bottom: 170px;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
  }
  .submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    transition: all 0.4s;
  }
  .submit-btn .input-data:hover .inner{
    left: 0;
  }
  .submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  @media (max-width: 700px) {
    .container .text{
      font-size: 30px;
    }
    .container form{
      padding: 10px 0 0 0;
    }
    .container form .form-row{
      display: block;
    }
    form .form-row .input-data{
      margin: 35px 0!important;
    }
    .submit-btn .input-data{
      width: 40%!important;
    }
  }

.pop-up {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}  

.pop-up.show {
    display: flex;
}

.pop-up .content {
    position: absolute;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;

    button.close {
      width: 30px;
      font-size: 20px;
      color: #c0c5cb;
      align-self: flex-end;
      background-color: transparent;
      border: none;
      margin-bottom: 10px;
    }
    img {
      width: 82px;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 40px;
      font-size: 18px;
    }
    button.accept {
      background-color: #ed6755;
      border: none;
      border-radius: 5px;
      width: 200px;
      padding: 14px;
      font-size: 16px;
      color: white;
      box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
    }
}
  