.button a{
    text-decoration: none;
}

.button {
    height: 75px;
    width: 310px;
    position: relative;
    border: none;
    background-color: transparent;
}

.button .overlap {
    height: 97%;
    width: 97%;
    background-color: #ffba07;
    border-radius: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);  

    transition: height 200ms ease-in, width 200ms ease-in,
    background-color 200ms ease-in;
}

.button .text {
    color: #ffffff;
    font-family: "Manrope-SemiBold";
    font-size: 30px !important;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    transition: font-size 200ms ease-in;
}
 
.button.medium {
    height: 60px;
    width: 210px;
}

.button.small {
    height: 60px;
    width: 150px;
}

.button.medium .text{
    font-size: 30px !important;
}

.button.small .text{
    font-size: 23px !important;
}

.button.red .overlap{
    background-color: #ff4363; 
}

.button.hover .overlap{
    background-color: #ff4363; 
    border-radius: 17px;
    height: 100%;
    width: 100%;
}
  
.button.hover .text {
    font-size: 34px !important;
    font-family: "Manrope-Bold";
}

.button.medium.hover .text
{
    font-size: 30px !important;
    font-family: "Manrope-Bold";
}

.button.small.hover .text
{
    font-size: 24px !important;
    font-family: "Manrope-Bold";
}

.button.press .overlap{
    background-color: #ff4363;
}

.button.red.hover .overlap, 
.button.red.press .overlap
{
    background-color: #ffba07;
}

