.admin .admin-logged-in {
    padding-top: 120px;
}

.admin-logged-in .welcome-admin {
    display: flex;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
}

.admin-logged-in .welcome-admin .welcome-phrase{
    font-family: "Manrope-Bold";
    font-size: 40px;
    line-height: 60px;
    margin: 0;
    color: #1F2F54;

}

.admin-logged-in .welcome-admin .button-log-out{
    margin-left: auto;
}