/* Set navbar styles
Background color is transparent white with
opacity 0.1, on the top of the page
corner radius is rounded to 10px
width is 100% of the page
 */

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 100%;
}

/* Set logo styles
Logo to the left of the navbar
 */


/* Set button styles
Default background color is white, text color is black
When hover on a button, change background color to red,
text color to white.
Each button has a distance of 10px from each other
 */

.navButton {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition-duration: 0.4s;
    margin: 10px;
}

.navButton:hover {
    background-color: #ff0000;
    color: #ffffff;
}

/* Set active button styles
When click on a button, change background color to white
 */

.active {
    background-color: #ffffff;
    color: #ff0000;
}