.navigation {
    height: 70px;
    width: 70%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 2rem 0.5rem 0;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    z-index: 9999;
    /* margin: auto; */
    /* margin-left: 14%; */
    border-radius: 25px;
    margin-top: 1em;
    
    opacity: 1;
    transition: opacity 300ms ease-out, width 300ms ease-out;
    overflow: hidden;
}

.navigation.hide {
    opacity: 0;
    width: 0;
}

.navigation.tel-view {
    display: none;
    
}

.logo-nav img {
    margin-left: 1rem;
    height: 130px;
    width: 130px;
    /* margin-right: 0.5rem; */
}

.navigation-menu {
    margin: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style: none;
    margin: 0 0.5rem;
}

.navigation-menu li a {
    text-decoration: none;
    color: var(--red-insa);
    font-size: 1.2rem;
    padding: 10px;
    color: black;
}

.navigation-menu li.active a {
    background-color: #FF4363;
    border-radius: 15px;
    color: var(--red-insa);
    font-size: 1.2rem;
    padding: 10px;
    color: white;
}

.navigation-menu li a:hover {
    background-color: #FF4363;
    border-radius: 15px;
    color: var(--red-insa);
    font-size: 1.2rem;
    padding: 10px;
    color: white;
}

/* .navigation-menu .login-li {
    float: right;

} */

.nav-login {
    background-color: #FF4363;
    text-decoration: none;
    text-align: center;
    color: white;
    /* margin-right: -2rem; */
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    font-weight: 600;
    padding: 10px;
    transition: 0.4s;
    font-size: 1.2rem;
    /* padding: 10px; */
}

.nav-login:hover {
    background-color: #ffca57;
    color: white;
    /* width:0; */
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    /* background-color: rgba(104, 85, 224, 1); */
}

.hamburger {
    /* // removes default border on button element */
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    /* // positions the icon to the right and center aligns it vertically */
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: #2642af;
}

@media screen and (max-width: 970px) {
    .navigation {
        height: 70px;
        width: 90%;
        display: flex;
        align-items: center;
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0.5rem 2rem 0.5rem 0;
        background-color: #fff;
        color: black;
        box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
        z-index: 9999;
        border-radius: 25px;
    }

    .navigation-menu li {
        list-style: none;
        padding: 3px;
    }

    .navigation-menu {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .logo img {
        margin-left: 0.5rem;
        height: 100px;
        width: 100px;
        /* margin-right: 0.5rem; */
    }

    .navigation.computer-view {
        display: none;
    }

    .navigation.tel-view {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .navigation-menu ul {
        flex-direction: column;
        position: absolute;
        top: 73px;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
        background-color: white;
        /* border: 1px solid black; */
        display: none;
        border-radius: 25px;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
    }

    .navigation-menu li {
        text-align: center;
        margin: auto;
        margin-bottom: 0px;
        margin-top: 0px;
        width: 50%;
        /* border-bottom: 1px solid black; */
        /* background-color: #FF4363;
        border-radius: 15px; */
    }

    .navigation-menu li a {
        border-radius: 15px;
        font-size: 1.2rem;
        display: inline-block;
        padding: 5px 0;
        color: black;
    }

    .navigation-menu li a:hover {
        background-color: #FF4363;
        border-radius: 15px;
        font-size: 1.2rem;
        display: inline-block;
        padding: 5px 0;
        color: white;
        width: 75%;
    }

    .navigation-menu li.active a{
        background-color: #FF4363;
        border-radius: 15px;
        font-size: 1.2rem;
        display: inline-block;
        padding: 5px 0;
        color: white;
        width: 75%;
    }

    .navigation-menu.expanded ul {
        display: block;
    }

    .navigation-menu li .login {
        background-color: #FF4363;
        border-radius: 15px;
        font-size: 1.2rem;
        display: inline-block;
        padding: 5px 0;
        color: white;
        width: 75%;
        transition: 0.4s;
    }

    .navigation-menu li .login:hover {
        background-color: #ffca57;
        border-radius: 15px;
        font-size: 1.2rem;
        display: inline-block;
        padding: 5px 0;
        color: white;
        width: 75%;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    }
}