.navigation {
    height: 70px;
    width: 70%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    z-index: 9999;
    margin: auto;
    border-radius: 25px;
    margin-top: 1em;
}

.navigation.tel-view {
    display: none;
}

.logo img {
    margin-left: 1rem;
    height: 120px;
    width: 120px;
    /* margin-right: 0.5rem; */
}

.navigation-menu {
    margin: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
}

.navigation-menu li {
    list-style: none;
    margin: 0 0.1rem;
}

.navigation-menu li a {
    text-decoration: none;
    color: var(--red-insa);
    font-size: 1.2rem;
    padding: 10px;
    color: black;
}

.navigation-menu li.active a {
    background-color: #FF4363;
    border-radius: 15px;
    color: var(--red-insa);
    font-size: 1.2rem;
    padding: 10px;
    color: white;
}

.navigation-menu li a:hover {
    background-color: #FF4363;
    border-radius: 15px;
    color: var(--red-insa);
    font-size: 1.2rem;
    padding: 10px;
    color: white;
}

.nav-login {
    text-decoration: none;
    text-align: center;
    color: black;
    margin-right: 1rem;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 150px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}

.nav-login:hover {
    color: white;
    /* width:0; */
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    /* background-color: rgba(104, 85, 224, 1); */
    background-color: var(--red-insa);
}

.hamburger {
    /* // removes default border on button element */
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    /* // positions the icon to the right and center aligns it vertically */
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: #2642af;
}

@media screen and (max-width: 970px) {
    .navigation {
        height: 70px;
        width: 90%;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.5rem 0rem;
        background-color: #fff;
        color: black;
        box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
        z-index: 9999;
        margin: auto;
        border-radius: 25px;
        margin-top: 1em;
    }

    .navigation-menu li {
        list-style: none;
        padding: 3px;
    }

    .navigation-menu {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .logo img {
        margin-left: 0.5rem;
        height: 100px;
        width: 100px;
        /* margin-right: 0.5rem; */
    }

    .navigation.computer-view {
        display: none;
    }

    .navigation.tel-view {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .navigation-menu ul {
        flex-direction: column;
        position: absolute;
        top: 73px;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
        background-color: white;
        /* border: 1px solid black; */
        display: none;
        border-radius: 25px;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
    }

    .navigation-menu li {
        text-align: center;
        margin: auto;
        margin-bottom: 0px;
        margin-top: 0px;
        width: 50%;
        /* border-bottom: 1px solid black; */
        /* background-color: #FF4363;
        border-radius: 15px; */
    }

    .navigation-menu li a {
        border-radius: 15px;
        font-size: 1.2rem;
        display: inline-block;
        padding: 5px 0;
        color: black;
    }

    .navigation-menu li a:hover {
        background-color: #FF4363;
        border-radius: 15px;
        font-size: 1.2rem;
        display: inline-block;
        padding: 5px 0;
        color: white;
        width: 75%;
    }

    .navigation-menu li.active a{
        background-color: #FF4363;
        border-radius: 15px;
        font-size: 1.2rem;
        display: inline-block;
        padding: 5px 0;
        color: white;
        width: 75%;
    }

    .navigation-menu.expanded ul {
        display: block;
    }
}