@font-face {
    font-family: "Manrope-Light";   /*Can be any text*/
    src: local("Manrope-Light"),
      url("/src/assets/font/static/Manrope-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope-Medium";   /*Can be any text*/
    src: local("Manrope-Medium"),
      url("/src/assets/font/static/Manrope-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope";   /*Can be any text*/
    src: local("Manrope-Regular"),
      url("/src/assets/font/static/Manrope-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope-SemiBold";   /*Can be any text*/
    src: local("Manrope-SemiBold"),
      url("/src/assets/font/static/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope-Bold";   /*Can be any text*/
    src: local("Manrope-Bold"),
      url("/src/assets/font/static/Manrope-Bold.ttf") format("truetype");
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
